@import './scss/bootstrap';
@import './scss/navbar';
@import './scss//footer';
@import './scss/herosection';
@import './scss/discount';
@import './scss/menu';
@import './scss/about';
@import './scss/booking';
@import './scss/reviews';

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1 0 auto
}
html {
  scroll-behavior: smooth;
}

.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
